@charset "UTF-8";

body {
	background-color:  #1e1e1e;
	color: white;
}

h1 {
	color:  #c40812;
	text-align: center;
}

.Lista {
	margin: 3% 0%;
	Font-size: 130%;
	font-weight: bold;
	color: white;
	text-align: center;
	align-items: center;
}

ul {
	list-style-position: inside;
	line-height: 2em; 
}

#Ordini {
	color: white;
	background-color: #2a2a2a;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.875rem;
    width: 80%;
    max-width: 31.25rem;
    text-align: center;
    font-size: 130%;
    margin-left: 36%;
}
#Ordini [type=submit]{
	margin-bottom: 6%;
}
                                                    /* OrdineEffettuato */
p {
	color: black;
	border: 0.3em  #2a2a2a;;
	border-style: dashed;
	background-color: white;
	height: 5.5em;
	padding-top: 1%;
	width: 20%;
	border-radius: 50%;
	text-align: center;
	margin-top: 7%;
}                                                   
                                                    
.Immagine {
	display: flex;
	margin-left: 12em;
}

.Immagine a {
	color: black;
	font-size: 140%;
	margin-top: 7em;
	text-decoration: underline;
}

.Immagine img {
	width: 25%;
}
