@charset "UTF-8";

body {
    background-color: #1e1e1e;
    margin: 0 auto;
    width: 100%;
    font-size: 1em; 
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: white;
}

.Cornice {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-left: 10%;
  border-radius: 0.8em;
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
  padding: 1.5em;
  margin-top: 2em;
  background-color: #2a2a2a;
  gap: 1em;
  max-width: 80%;
  color: white;
}


.immagine {
    flex-shrink: 0;
    width: 12.5em; 
    height: auto;
    border-radius: 0.8em;
}

.posizione {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5em;
    margin-top: 2em;
    font-size: 1.1em;
    flex: 1 1 30%;
}

.spazio {
    flex-shrink: 0;
    margin-top: 2.5em;
    font-size: 1.1em;
    flex: 1 1 30%;
}

.bottone {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: white;
  font-size: 1em;
  padding: 0.4em 1em;
  background-color: #444;
  border-radius: 1em;
  text-decoration: none;
}


.Pagamento {
    display: flex;
    justify-content: flex-end;
    margin: 2em 0 0 0;
    width: 95%;
}

.Pagamento button {
	font-size: 130%;
	color: white;
	background-color:  #e50914;
	border-radius: 0.825em;
	margin-right: 2em;
	
}

.Pagamento button:hover {
	background-color:  #c40812;
}

input[type="submit"] {
    font-size: 1em;
    border-radius: 1.5em;
    padding: 0.5em 1em;
}

.posizionef {
    margin-top: 40em;
}

@media screen and (max-width: 1000px) {
    body {
        width: 100%;
    }

    .Pagamento  {
        justify-content: center;
        margin-top: 2em;
        font-size: 1.2em;
    }
    
    #bottone {
    padding: 0.5em 0.5em;
    }
    
    .cornice {
     margin: 1em;
    padding: 1em;
    gap: 1em;
    }
    
    .posizione {
    Font-size: 0.8em;
    }
    
    .spazio {
    Font-size: 0.8em;
    }

    .posizionef {
        margin-top: 60em;
    }
}



@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    h1 {
        font-size: 1.5em;
    }

    .Cornice {
        margin-left: 7%;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        gap: 1em;
    }

    .immagine {
        width: 8em;
    }

    .posizione,
    .spazio {
        font-size: 0.9em;
        margin: 1em 0;
        text-align: center;
        flex: 1 1 100%;
    }

    #bottone {
    position: static;
    margin: 1em auto 0 auto;
    display: block;
    text-align: center;
  }

    .Pagamento {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.5em;
    }

    .posizionef {
        margin-top: 80em;
    }
}














