@charset "UTF-8";

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 200%;
}

.posizionef {
	margin-top: 43.75rem;
}

.posizione {
	flex-shrink: 0;
	margin-top: 5rem;
	padding-left: 3.125rem;
  font-size: 1.8rem;
    display: flex;
    gap: 0.5rem;
}

.immagine{
	width: 12.5rem;
  height: 19.375rem;
  margin-left: 0.625rem;
}
input[type=submit] {
	font-size: 0.9rem;
  border-radius: 1.5625rem;
}
.Cornice {
  display: flex;
  margin-left: 10.625rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.9375rem; 
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;         
  margin-top: 1.25rem;   
  background-color: #5d5d5d;
  gap: 1.25rem;            
  max-width: 93.75rem;
}

.bottone {
	flex-shrink: 0;
	margin-top: 17.5rem;
    color: black;
}


.spazio {
	flex-shrink: 0;
	font-size: 1.8rem;
  margin-top: 4.375rem;
  margin-left: 29rem;
}

.Pagamento {
	font-size: 180%;
    display: flex;
    gap: 0.5rem;
    float: right;
    margin-right: 10.625rem;
}