@charset "UTF-8";
body {
  background: #f2f2f2;
  font-weight: bold;
}

h1 {
	color: #ed1c24;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
}
h2 {
	color: #ed1c24;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
}

div.catalogo-giochi {
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.25rem; 
  max-width: 87.5rem;
  float: none;
}

div.images {
  margin: 2.5rem;
  width: 15.3125rem;
}

div.images:hover {
  border: 0.125rem solid;
}

div.images img {
  width: 100%;
  height: 15rem;
  
}
.Tendenza {
  border: 0.1875rem solid #000;
  background-color: #000;
  width: 15.625rem;
  height: 26.125rem;
  text-align: center;
  margin-top: 15em;
}

#Pubblicità {
  border: 0.1875rem solid #000;
  width: 15.625rem;
  height: 37.5rem;
  margin-top: 15em;
	
}

#Pubblicità iframe {
  width: 15.625rem;
  height: 100%;
}

.Most-Wanted {
  border: 0.1875rem solid #000;
  background-color: #000;
  width: 15.625rem;
  height: 26.125rem;
  text-align: center;
}


#Posizione {
	display: flex;
	flex-direction: column;
	align-items: right;
	float: right !important;
	margin-right: 1%;
	margin-top: 8%;
}

#Griglia {
	 display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 2%;
}

#messaggio{
  font-size: 1.125rem;
  padding: 1em;
  text-align: center;
}

.Ordina {
  margin-left: 1%;
}

#Video {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  width: 80%;
}

#Video iframe {
  width: 80vw; 
  height: 45vw;
  max-width: 960px;
  max-height: 540px;
  border-radius: 12px; 
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}



                                   /* ADMIN ONLY */
                                   
.catalogo-admin {
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.25rem; 
  max-width: 87.5rem;
  float: none;
  max-width: 55%;
}
                              
.catalogo-admin [type=submit],
.catalogo-admin button {
	display: block;
	border: none;
	border-radius: 0.925em;
	box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
	background-color:  #e50914;
	font-size: 130%;
	padding: 0.4em 0.8em;
    margin: 15% 0%; 
	
}

.catalogo-admin [type=submit]:hover,
.catalogo-admin button:hover {
	background-color:  #c40812;
}
	
#Colonna {
   display: flex;
   flex-direction: column;
   margin-top: 5%; 
}
