@charset "UTF-8";

body {
	background-color: #1e1e1e;
}

h1 {
	color: white;
}

img.Copertina {
	width: 18.75rem;
    height: 29.375rem;  
    float: left;
    margin-left: 15.625rem;
    margin-right: 12.5rem;
}

input[type="submit"] {
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.3125rem;
    transition: background-color 0.3s ease;
    padding: 0.75rem 4.5rem;
    border-radius: 0.9375rem;
    background-color: #e50914;
}

input[type="submit"]:hover {
    background-color: #c40812;
}

table.Informazioni {
	background-color: #2a2a2a;
	font-size: 120%;
	border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

#Bottoni{
	color: white;
}

.Informazioni th {
	padding: 0.125rem 0.625rem;
	border: none;
	color: white;
}

.Informazioni td {
    padding: 0.625rem 0.625rem;
    border: none;
    color: white;
}

.posizione {
	margin-top:  34.375rem;
}