@charset "UTF-8";
img.Copertina {
	width:300px;
	height:470px;
	float: left;
	margin-left: 250px;
	margin-right: 200px;
}


#Bottoni {
	padding: 10px;
	font-size: 120%;
}

table.Informazioni {
	font-size: 120%;
	border-collapse: collapse; 
}

.Informazioni th {
	padding: 2px 10px;
}

.Informazioni td {
    padding: 10px 10px;
}

.posizione {
	margin-top: 550px;
}