@charset "UTF-8";

body {
	background-color: #1e1e1e;
}

h1 {
	color: white;
}

img.Copertina {
	width: 18.75rem;
    height: 29.375rem;  
    float: left;
    margin-left: 13.625em;
    margin-right: 11.5em;
}

input[type="submit"] {
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.3125rem;
    transition: background-color 0.3s ease;
    padding: 0.75rem 4.5rem;
    border-radius: 0.9375rem;
    background-color: #e50914;
}

input[type="submit"]:hover {
    background-color: #c40812;
}

table.Informazioni {
	background-color: #2a2a2a;
	font-size: 120%;
	border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    color: white;
}

#Bottoni{
	color: white;
}

.Informazioni th {
	padding: 0.125rem 0.625rem;
	border: none;
	color: white;
}

.Informazioni td {
    padding: 0.625rem 0.625rem;
    border: none;
    color: white;
}

.posizione {
	margin-top:  34.375rem;
}
                                                       /* FinalizzaOrdine */
                                                       
.Informazioni {
	background-color:  #1e1e1e;
	font-size: 120%;
	border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    color: white;
}


.Pagamento {
	margin: 5% 0% 0% 4%;
	max-width: 28.125em;
	border: none;
	color: white;
	
   	
}

.Pagamento fieldset {
	border: none;
	color: white;
   	
}

.Pagamento input[type="text"] {
    width: 90%;
    padding: 0.625rem 0.75rem;
    border: 1px solid #555;
    border-radius: 0.5rem;
    background-color: #1e1e1e;
    color: white;
    font-size: 0.875rem;
    transition: border-color 0.2s;
}

.Pagamento input[type="submit"] {
	margin: 5% 0% 0% 41%;
}

.Ordine {
	display: flex;
}

#Riepilogo {
	display: flex; 
	flex-direction: column;
	flex-wrap: wrap;
}

.CopertinaOF { 
	width: 18.75rem;
    height: 29.375rem; 
    display: flex;
    flex-direction: column; 
}

.PosizioneOF {
	margin-top: 10em;
}







