@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

h2 {
  position: absolute;
  top: 5em;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2em;
}

.Dati {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: #2a2a2a;
  color: white;
  font-size: 1.4em;
  border-radius: 0.75em;
  box-shadow: 0 0 0.94em rgba(0, 0, 0, 0.3);
  width: 20em;
  margin: 9% 0 0 36.5%;
}

.Dati input[type="text"],
.Dati input[type="number"],
.Dati input[type="date"],
.Dati input[type="file"],
.Dati input[type="String"],
.Dati textarea,
.Dati select {
  width: 100%;
  padding: 0.7em;
  border-radius: 0.5em;
  font-size: 0.8em;
  border: none;
  margin-bottom: 2%;
}

.Dati input[type="submit"],
.Dati input[type="reset"] {
  padding: 0.6em 1.5em;
  border-radius: 6px;
  border: none;
  background-color: #e50914;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 45%;
  margin-right: 2%;
}

.Dati input[type="submit"]:hover,
.Dati input[type="reset"]:hover {
  background-color: #c40812;
}

.Dati form + form {
  margin-top: 1em;
  border-top: 1px solid #444;
  padding-top: 1em;
  width: 100%;
}

.popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #4CAF50;
      color: white;
      padding: 20px 30px;
      border-radius: 12px;
      box-shadow: 0 8px 16px rgba(0,0,0,0.3);
      z-index: 9999;
      font-family: sans-serif;
      font-size: 18px;
      text-align: center;
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    @media screen and (max-width: 1650px) {
          .Dati {
           margin: 9% 0 0 34.5%;
           }
}

@media screen and (max-width: 1550px) {
          .Dati {
           margin: 9% 0 0 32.5%;
           }
}

@media screen and (max-width: 1450px) {
          .Dati {
           margin: 11% 0 0 31.5%;
           }
}

@media screen and (max-width: 1350px) {
          .Dati {
           margin: 12% 0 0 30%;
           }
}

@media screen and (max-width: 1250px) {
          .Dati {
           margin: 14% 0 0 29%;
           }
}

@media screen and (max-width: 1100px) {
          .Dati {
           margin: 15% 0 0 25%;
           }
}

@media screen and (max-width: 950px) {
          .Dati {
           margin: 17% 0 0 21%;
           }
}

@media screen and (max-width: 800px) {
          .Dati {
           margin: 20% 0 0 15%;
           }
}

@media screen and (max-width: 670px) {
          .Dati {
           margin: 24% 0 0 5%;
           }
}
@media screen and (max-width: 580px) {
          .Dati {
           margin: 30% 0 0 0;
           width: 17em;
           }
}

@media screen and (max-width: 470px) {
          .Dati {
           margin: 32% 0 0 0;
           width: 14m;
           }
}