@charset "UTF-8";

body {                               
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 250%;
   margin-top: 3.125rem;
    color: #e50914;
}

h2{
  font-size: 180%;
  text-align: center;
  color: #e50914;
}

.Tasti {                               /*   User, Ordini, Carte e ModificaDati  */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.75rem;
    gap: 1.25rem;
    color: white;
}

.Tasti button {                             /*   User, Ordini, Carte e ModificaDati  */
    padding: 0.75rem 4.5rem;
    border-radius: 0.9375rem;
    display: block;
    margin-bottom: 1.5625rem;
    background-color: #e50914;
    color: white;
 }

.ordine-card {                          /* Ordini */
    background-color: #2a2a2a;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.875rem;
    width: 80%;
    max-width: 31.25rem;
    text-align: center;
}

.ordine-info {                         /* Ordine*/
    font-size: 1.1em;
    margin-bottom: 0.9375rem;
    color: #ffffff;
}

input[type="submit"] {                   /* Carte e ModificaDati  */
    background-color: #e50914;
    color: white;
    border: none;
    padding: 10px 60px;
    border-radius: 15px;
    font-size: 100%;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {               /* Carte e ModificaDati  */
    background-color: #c40812;
}

.posizione {                               /* Carte */
    margin-top: 6.25rem;
}
#btn {                                      /* ModificaDati  */
    background-color: #e50914;
    color: white;
    border: none;
    padding: 0.7em 3.7em;
    border-radius: 0.9375rem;
    font-size: 100%;
    cursor: pointer;
    margin: 0.3125rem;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

#btn:hover {
    background-color: #c40812;
}

.azione-riga {                           /* ModificaDati  */
    display: flex;
    gap: 0.625rem;
    align-items: center;
}

.posizioneU {                             /*   User, Ordini */
	margin-top: 9.375rem;
	display: block;
}

.Box {                                         /* ModificaDati  */
   border: none;
   border-radius: 0.75rem;
   box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
   max-width: 28.125em;
   height: 32%;
   margin-left: 40%;
   margin-top: 7%;
   background-color: #2a2a2a;
}

.Dimensione{                                 /* ModificaDati  */
    font-size: 170%;
    padding: 2% 0;
}

.posizioneMD {                          /* ModificaDati  */
	margin-top: 22.5rem;
}

form input[type="text"],                             /* Carte e ModificaDati  */
form input[type="password"] {
    width: 100%;
    padding: 0.625rem 0.75rem; 
    border: 0.0625rem solid #555;
    border-radius: 0.5rem;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 0.875rem;
    transition: border-color 0.2s;
    
}

form input[type="text"]:focus,                /* Carte e ModificaDati  */
form input[type="password"]:focus {
    border-color: #e50914;
    outline: none;
}


.Colore fieldset {                         /* User e Carte*/
     border: none;
     border-radius: 0.75rem;
     background-color: #2a2a2a;
     box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
     padding: 11% 14% 12% 10%;
     font-size: 110%;
     margin: 0.75rem 0 0.375rem;
}

.posizioneC {                                 /* Carte */
	 margin-top: 15.625rem;
}

.User input[type=submit]{                       /* User*/
      display: block;
      margin-bottom: 1.5625rem;
}

.TastiU {                                            /* User*/
      margin-top: 23.75rem;
        
}
       



@media screen and (max-width: 900px) {
	
	.Box {  /* ModificaDati */
	    margin-left: 30%;
	}
}

@media screen and (max-width: 700px) {
	
	.Box {   /* ModificaDati */
	    margin-left: 20%;
	    
	}
}

@media screen and (max-width: 600px) {
	
	.Box {    /* ModificaDati */
	    margin-left: 5%;
	}
}





.warning {
    color: #ffcc00; 
    font-size: 0.875rem;
    min-height: 1.5em; 
}

.submit-error {
	font-size: 0.875rem;
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 100%;     
    white-space: normal; 
    word-wrap: break-word; 
    word-break: break-word;
}

form select,
form input[type="date"] {
    width: 100%;
    padding: 0.625rem 0.75rem;
    border: 0.0625rem solid #555;
    border-radius: 0.5rem;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 0.875rem;
    transition: border-color 0.2s;
    appearance: none; /* rimuove la freccia di default nei browser */
}

form select:focus,
form input[type="date"]:focus {
    border-color: #e50914;
    outline: none;
}

.popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #4CAF50;
      color: white;
      padding: 20px 30px;
      border-radius: 12px;
      box-shadow: 0 8px 16px rgba(0,0,0,0.3);
      z-index: 9999;
      font-family: sans-serif;
      font-size: 18px;
      text-align: center;
      opacity: 1;
      transition: opacity 0.5s ease;
    }



