@charset "UTF-8";

body {
  background-color:  #1e1e1e;
  color: white;
}

h1 {
	text-align: center;
}

.Tavolo {
  margin: 0;
  padding: 0;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color:  #1e1e1e;
  color: white;
  font-size: 120%;
}

.Tavolo button {
  border-radius: 0.925em;
  cursor: pointer;
  background-color:  #e50914;
  color: white;
  transition: background-color 0.3s ease;
}

.Tavolo button:hover {
  background-color:  #c40812;
}

@media (max-width: 780px) {
  .Tavolo td:nth-child(4),
  .Tavolo td:nth-child(5),
  .Tavolo td:nth-child(6),
  .Tavolo th:nth-child(4),
  .Tavolo th:nth-child(5),
  .Tavolo th:nth-child(6) {
    display: none;
  }
}

@media (max-width: 650px) {
	.Tavolo {
  font-size: 90%;
}
}