<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>LimitedGames</display-name>
  <welcome-file-list>
    <welcome-file>pages/Catalogo.jsp</welcome-file>
  </welcome-file-list>
   <context-param>
    <param-name>LIMITED_ROOT</param-name>
    <param-value>C:\Users\ogham\git\LimitedGames\LimitedGames\src\main\webapp</param-value>
  </context-param>
  <filter>
  	<filter-name>Control.Utente.AuthFilter</filter-name>
  	<filter-class>Control.Utente.AuthFilter</filter-class> 	
  </filter>
  <filter-mapping>
  	<filter-name>Control.Utente.AuthFilter</filter-name>
  	<url-pattern>/pages/admin/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>Control.Utente.UserFilter</filter-name>
  	<filter-class>Control.Utente.UserFilter</filter-class> 	
  </filter>
  <filter-mapping>
  	<filter-name>Control.Utente.UserFilter</filter-name>
  	<url-pattern>/pages/user/*</url-pattern>
  </filter-mapping>
  
</web-app>